
body {
    background-image: url("https://i4.hurimg.com/i/hurriyet/75/1200x675/5f2ebbaf0f25441490314a5f.jpg");
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: center;
    text-align: left;
  }
h1 {
    color: #AA4586;
    text-align: left;
    font-size: 50;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
    border-radius: 25px;
    padding: 15px;
    color: #B56576;
}
.question {
    color: #fa07b9;
    opacity: 0.5;
    background-image:url(https://www.w3schools.com/css/mountain.jpg)
}
.container {
    width: 500px;
    margin: auto;
   
    
}
.left {
  text-align: end;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
  color: #AA4586;
}
